div.bloc{
border:1px solid #ff4000;

color:#898b91;
}
h1.title{height:30px;
background:#ff4000 url('../images/minisquare.png') no-repeat 8px  8px;
padding-top:10px;
font-size:14px;
font-weight:normal;
color:#fff;
padding-left:40px;
}

div.content{
margin-top:15px;
margin-bottom:56px;
width:338px;
line-height:17px;
font-size:12px;
text-align:justify;
}

div#left{
float:left;
margin-left:24px;
}
div#right{
float:right;
margin-right:24px;
}
.content a{color:#ff4000;}
.content span{color:#ff4000;
font-size:12px;
font-weight:bold;
}

h2{
font-size:12px;
font-weight:bold;

margin-bottom:10px;
color:#9ecd00;
}
