/* Menu format vertical
#Nav {
	width: 100px;
	padding: 0;
	list-style: none;
}

#Nav li {
	background: #ddd;
	margin: 1px;	
	height: 20px;
}

.Menu {
	padding: 0;		
	margin-top: -18px;
	margin-left: 98px;
	width: 202px;
	list-style: none;
	display: none;	
}

.Menu li {
	height: 20px;
	width: 200px;	
}
*/

#Nav {padding: 0;list-style: none;}#Nav li {width: 150px;background: #ddd;margin: 0px 0 0 0px;float: left;
padding: 0;}#Nav li a {
display: block;
background-color: #555;
color: white;
text-decoration: none;	
margin: 0; padding: 3px;
}
#Nav li a:hover,#Nav li a:active {
display: block;
background-color: #777;
color: white;
text-decoration: none;	
margin: 0; padding: 3px;
}.Menu {padding: 0;
margin: 0;list-style: none;display: none;}